@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Vollkorn&display=swap');

/*
font-family: 'Montserrat Subrayada', sans-serif;
font-family: 'Vollkorn', serif;
*/

body {
    font-family: "Vollkorn", serif;
    margin: 100px 0 0;
    height: 100%;
    font-size: 1em;
    overflow-x: hidden;
    width: 100%;
}

.main {
    margin-top: 100px;
}

/*
ZONE HEADER
*/

a {
    color: #ff7900;
    text-decoration: none;
}

.navbar-brand {
    height: 100px;
    width: auto;
}

.navbar-brand a {
    height: 100px;
}

.navbar-brand img {
    height: 100%;
    width: auto;
    padding: 15px 0 15px 15px;
}

.navbar {
    background-color: black;
    box-shadow: 0 0 10px 10px #00000022;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 1rem;
    height: 100px;
    margin: 0;
    padding: 0;
}

.navbar-nav {
    text-align: right;
    height: 100px;
    background-color: #000;
}

.navbar .nav-item {
    background-color: #000;
    transition: all 240ms;
    display: flex;
    align-items: center;
    color: #ff7900;
}

.navbar .nav-item:hover {
    color: #000;
    background-color: #ff7900;
}

.navbar .nav-item a.nav-link {
    color: inherit;
    padding: 20px;
    text-decoration: none;
}

.nav-item a:after {
    margin-left: 0.5em;
}

.navbar-toggler {
    color: #ff7900;
    font-size: 1.8rem;
}

.dropdown-menu {
    background-color: #000;
    color: #ff7900;
    border: none;
    border-radius: 0;
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100vw;
}

.dropdown-item {
    padding: 10px;
    color: inherit;
    width: 100%;
}

.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active {
    background-color: #ff7900;
    color: #000;
}

@media screen and (max-width: 767px) {
    .navbar-nav {
        height: 100%;
    }

    .navbar .nav-link {
        text-align: right;
    }

    .dropdown-menu {
        width: 100%;
    }

    .dropdown-item {
        text-align: right;
    }

    .navbar .nav-item {
        display: block;
    }

    .navbar .dropdown-item {
        display: block;
    }

}

@media all and (min-width: 768px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
        margin-top: 0;
    }

    .navbar .nav-item:hover .nav-link {
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
}

/*
SOUS MENU
*/

.sous {
    display: none;

    position: absolute;
    width: 100%;
    z-index: 1000;
}

nav > ul li:hover .sous {
    display: block;
}

.sous li {
    float: none;
    width: 100%;
    text-align: left;
}

.sous a {
    padding: 10px;
    border-bottom: none;
}

.sous a:hover {
    border-bottom: none;
}

.conteneur {
    margin: 50px 20px;
    height: 1500px;
}

/*
EN TÊTE PAGE
*/
.hero-container {
    background-image: url("../images/banniere_sanstexte.png");
    height: calc(100vh - 100px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
}

.hero-inner-container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-inner-container > h1 {
    text-align: left;
    font-size: 5.5em;
    color: #fff;
    margin: 0;
    font-family: "Montserrat Subrayada", serif !important;
}

.hero-description {
    color: #EE9600;
    text-align: right;
    font-size: 1.8em;
    position: relative;
}

.hero-description > p {
    margin: 0;
}

.hero-description > p:first-child {
    position: absolute;
    right: -2em;
}

.hero-description > p:last-child {
    position: relative;
    right: -5em;
    top: 1.3em;
}

.container {
    max-width: 1024px;
    margin: auto;
    padding: 0 1rem;

}


.title-large {
    font-weight: 700;
    font-size: 2rem;
    padding-top: 400px;

    color: white;
    text-align: center;
}

section {
    margin: 4rem 0;
}

/* VISAGE
*/


.column p {
    padding-right: 70px;
    padding-left: 70px;

}


.image {
    text-align: center;
}

.image img:not(.gallery img) {
    width: 100%;
    max-width: 200px;
    margin-bottom: 1rem;
    border-radius: 9999px;
}

/* ARTICLE */

h2 {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 31px;
}

.article {
    padding: 50px;
}

.text_article img {
    float: left;
    margin-right: 20px;
}

@media screen and (min-width: 559px) and (max-width: 879px) {
    .hero-container {
        height: 300px;
        font-size: 0.8em;
    }
}

@media screen and (max-width: 580px) {
    .hero-container {
        height: 200px;
        font-size: 0.6em;
    }
}


@media screen and (min-width: 880px) {
    .columns1 {
        display: flex;
    }

    .video {
        width: 100%;
    }


}


.button {
    background-color: #EE9600;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 99999px;
    transition: all 300ms;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 250px;
    font-family: 'Montserrat Subrayada', sans-serif;
    text-transform: uppercase;
    font-weight: lighter;

}

.button:hover {
    padding-left: 3rem;
    padding-right: 3rem;
}

.article p {
    font-family: 'Vollkorn', serif;
}


/* SKILLS */

.skills {
    margin: auto;
}

.skills h2 {
    text-align: center;
}

.text-faded {
    color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0.7);
}


/* skills */

label {
    font-family: 'Montserrat Subrayada', sans-serif;
}

.skills-section {
    padding-top: 50px;
}

.skills-bar-container ul {
    list-style: none;
    padding: 25px 0;
    width: 100%;
}

.skills-bar-container li {
    background: black;
    height: 8px;
    margin-bottom: 45px;
    padding-left: 0;
    position: relative;
    width: 100%;
}

.skills-bar-container h1 {
    margin-bottom: 50px;
}

.skills-bar-container label {
    color: #ff7900;
    position: relative;
    font-size: .96em;
    font-weight: 300;
}

.skills-bar-container .percent {
    color: #ff7900;
    font-size: .96em;
    float: right;
}

.progressbar {
    position: absolute;
    width: 0;
    height: 100%;
    border-radius: 5px;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}

#progress-html {
    animation-name: progress-html;
    animation-delay: 1.4s;
}

#progress-css {
    animation-name: progress-css;
    animation-delay: 2.1s;
}

#progress-javascript {
    animation-name: progress-javascript;
    animation-delay: 2.8s;
}

#progress-git {
    animation-name: progress-git;
    animation-delay: 3.5s;
}

#progress-php {
    animation-name: progress-php;
    animation-delay: 4.2s;
}

#progress-nodejs {
    animation-name: progress-nodejs;
    animation-delay: 4.9s;
}

#progress-wordpress {
    animation-name: progress-wordpress;
    animation-delay: 5.6s;
}

.progressred {
    background-color: #ff7900;
}

@keyframes progress-html {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes progress-css {
    0% {
        width: 0;
    }
    100% {
        width: 90%;
    }
}

@keyframes progress-javascript {
    0% {
        width: 0;
    }
    100% {
        width: 90%;
    }
}

@keyframes progress-git {
    0% {
        width: 0;
    }
    100% {
        width: 40%;
    }
}

@keyframes progress-php {
    0% {
        width: 0;
    }
    100% {
        width: 50%;
    }
}

@keyframes progress-nodejs {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}

@keyframes progress-wordpress {
    0% {
        width: 0;
    }
    100% {
        width: 40%;
    }
}

/* skills end */


/*FORMULAIRE*/

.formulaire h3 {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 30px;
    color: #ff7900;
}

.formulaire h4 {
    font-family: 'Vollkorn', serif;
    font-weight: lighter;
    font-size: 20px;
    color: #ff7900;
}


.formulaire {
    background-color: #1e1e1e;
    width: calc(100vw - 10em);
    border-radius: 30px;
    margin: auto;
    padding: 3.5em;
    text-align: center;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form-inputs > input:not(.submit) {
    width: 50%;
    padding: 20px 0;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Vollkorn', serif;
    text-transform: uppercase;
}

.form-inputs > input:not(.submit):hover {
    background: #EFC84A;
    color: white;
}

.submit {
    cursor: pointer;
    font-weight: lighter;

    padding: 10px 30px;
    border-radius: 5em;
    text-align: center;
    background: #ff7900;
    color: #1e1e1e;
    font-family: 'Montserrat Subrayada', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    border: none;
}

.submit:hover {
    background: #EFC84A;
    color: white;
}


/* FOOTER */

.footer {
    background: black;
    color: #ef781a;
    padding: 3rem 0;
    font-family: 'Vollkorn', serif;
    text-transform: uppercase;
    font-weight: lighter;
    text-align: left;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 4em;
}

.footer .title {
    font-family: 'Montserrat Subrayada', sans-serif;
}

.footer a {
    color: white;
    text-decoration: none;
    list-style-type: none;
    text-align: left;

}

ul {
    list-style-type: none;
}


.column3 {
    padding: 1rem;
    box-sizing: border-box;
    flex: 1;

}

.column3.one-third {
    flex: 33.33% 0 0;
}

.title {
    padding-left: 40px;
    font-weight: normal;
}

@media screen and (max-width: 580px) {
    .formulaire {
        width: calc(100vw - 10em);
    }

    .form-inputs > input:not(.submit) {
        width: 80%;
        padding: 10px 0;
    }
}

@media screen and (min-width: 880px) {
    .columns {
        display: flex;
    }

    .column {
        flex: 33.33%;
        padding: 1rem;
    }

    .formulaire {
        width: 700px;
    }

    /*
  PLANCHES
    */
    html, body {
        width: 100%;
        height: 100%;
    }

    .planches {
        padding: 75px 0;
        margin: 0 auto;
        width: 1140px;
    }

    h1 {
        position: relative;
        margin-bottom: 45px;
        font-family: 'Montserrat Subrayada', sans-serif;
        font-size: 44px;
        text-transform: uppercase;
        color: #ff7900;
    }

    .gallery-wrap {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 70vh;
    }


    .item {
        flex: 1;
        height: 100%;
        background-position: center;
        background-size: cover;
        transition: flex 0.8s ease;
    }

    .item:hover {
        flex: 7;
    }


    .items {
        flex: 1;
        height: 100%;
        background-position: center;
        background-size: cover;
        transition: flex 0.8s ease;
    }

    .items:hover {
        flex: 7;

    }

    .item-1 {
        background-image: url("../images/dessin1 copie.png");
    }


    .item-2 {
        background-image: url("../images/peinture5.png");
    }

    .item-3 {
        background-image: url("../images/sculpture1.png");
    }

    .item-4 {
        background-image: url("../images/photographie2 copie.png");
    }

    .item-5 {
        background-image: url("../images/perf3.PNG ");
    }

    .item-6 {
        background-image: url("../images/Capture d’écran 2021-03-19 à 11.09.55.png");
    }

    .item-7 {
        background-image: url("../images/graphisme1.png");
    }

    .item-8 {
        background-image: url("../images/produit2.png");
    }

    .item-9 {
        background-image: url("../images/urbain1.png");
    }

    .item-10 {
        background-image: url("../images/perf3.PNG ");
    }

    .social {
        position: absolute;
        right: 35px;
        bottom: 0;
    }

    .social img {
        display: block;
        width: 32px;
    }
}


/*
GALLERY
*/


.gallery {
    background-color: black;
}

.gallery .container {
    position: relative;
    column-count: 3;
    padding: 20px;
}

.image {
    display: inline-block;
    margin-bottom: 10px;
    overflow: hidden;
}

.gallery img {
    width: 100%;
    transition: 0.25s ease-in-out;
}

.image:hover img {
    transform: scale(1.1);
}

.gallery h2 {
    font-family: 'Montserrat Subrayada', sans-serif;
    position: absolute;
    display: none;
    top: 90px;
    left: 40px;
    padding: 5px;
    margin: 5px;
    font-size: 50px;
    background: black;
    color: white;
    border-radius: 5px;
    opacity: 0;
    z-index: 1;
    transition: 0.25s ease-in-out;
}


.gallery .image:hover h2 {
    opacity: 0.9;
}

@media screen and (max-width: 1024px) {
    .gallery h2 {
        font-size: 20px;
    }

}

@media screen and (max-width: 768px) {
    .gallery .container {
        column-count: 2;
    }

    .gallery h2 {
        font-size: 10px;
    }
}

@media screen and (max-width: 425px) {
    .gallery .container {
        column-count: 1;
    }

    .gallery h2 {
        font-size: 12px;
    }

}

@media screen and (max-width: 375px) {
    .gallery .container {
        column-count: 1;
    }

    .gallery h2 {
        font-size: 15px;
    }
}